<article class="short">
	@if (entity().photos.length) {
	<img
		class="short__thumb"
		[src]="entity().photos[0]"
		[alt]="entity().title"
		loading="lazy"
	/>
	}

	<div class="short__body">
		<h3 class="short__title">{{ entity().title }}</h3>
		<p class="short__address">{{ entity().publicLocation }}</p>

		<div class="short__meta">
			<span>{{ entity().price }} {{ entity().currency }}</span>
			<span>{{ entity().offeringType }}</span>
			<span>{{ entity().status }}</span>
		</div>

		@if (stylist() || boutique() || brand() || collection()) {
		<div class="short__relations">
			@if (stylist(); as st) {
			<button
				type="button"
				class="short__relation"
				(click)="onRelationClick($event, 'stylist', st._id)"
			>
				<app-stylist-icon [entity]="st" />
			</button>
			} @if (boutique(); as bt) {
			<button
				type="button"
				class="short__relation"
				(click)="onRelationClick($event, 'boutique', bt._id)"
			>
				<app-boutique-icon [entity]="bt" />
			</button>
			} @else if (brand(); as b) {
			<button
				type="button"
				class="short__relation"
				(click)="onRelationClick($event, 'brand', b._id)"
			>
				<app-brand-icon [entity]="b" />
			</button>
			} @if (collection(); as col) {
			<button
				type="button"
				class="short__relation"
				(click)="onRelationClick($event, 'collection', col._id)"
			>
				<app-collection-icon [entity]="col" />
			</button>
			}
		</div>
		}
	</div>
</article>
