<section class="stylists">
	<div class="stylists__header">
		<h1 class="stylists__title">
			{{ translateService.translate('Стилісти')() }}
		</h1>
		<p class="stylists__subtitle">
			{{
				translateService.translate(
					'Незабаром тут з’являться профілі стилістів Fashion — з портфоліо, бутіками та історією роботи з клієнтами.'
				)()
			}}
		</p>
	</div>

	<div class="stylists__empty">
		<p>
			{{
				translateService.translate(
					'Розділ у розробці. Заходьте пізніше.'
				)()
			}}
		</p>
	</div>
</section>
